
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  font-family: 'Anthelope', sans-serif;
}


#load {
    font-family:Anthelope; 
    visibility: hidden;
    height: 0px;
}

@font-face {
  font-family : 'Anthelope';
  src: url('./Anthelope.woff');
} 
