
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  font-family: 'Anthelope', sans-serif;
}

}
#load {
    font-family:Anthelope; //necessary to load font with div
    visibility: hidden; //makes div invisible but the div element forces the text to load before the canvas.
    height: 0px;
}

@font-face {
  font-family : 'Anthelope';
  src: url('./Anthelope.woff');
} 
